@font-face {
	font-family: 'arsenica'; 
	src: url('../fonts/arsenica.ttf'); 
}

@font-face {
	font-family: 'arsenicaItalic'; 
	src: url('../fonts/arsenicaItalic.ttf'); 
}

@font-face {
	font-family: 'arimo'; 
	src: url('../fonts/arimo.ttf'); 
}

@font-face {
	font-family: 'ttCommons'; 
	src: url('../fonts/ttCommons.otf'); 
}

@font-face {
	font-family: 'ttCommonsLight'; 
	src: url('../fonts/ttCommonsLight.otf'); 
}
